

.venice_part{
    margin-top: 60px;
    column-gap: 35px;
}


  

.venice_part .venice_bio{
    width: 24%;
}

.venice_part .venice_bio p{
    color: #666;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.venice_part .venice_imgPart{
    width: 73%;
    position: relative;
}

.venice_part .venice_img{
    width: 272px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    padding: 0 15px;
}

.venice_part .venice_img .venice_price{
    position: absolute;
    bottom: 0;
    right: 15px;
    background: #1A2B48;
    height: 60px;
    padding: 10px 15px;
}

.venice_part .venice_img .venice_price h4{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Cabin', sans-serif;
}

.venice_part .venice_img .venice_price h3{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Cabin', sans-serif;
}

.venice_part .venice_img .venice_price h3 span{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Cabin', sans-serif;
}


/* slider css */

.venice_part .venice_imgPart .arrows{
    position: absolute;
    content: '';
    width: 30px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.venice_part .venice_imgPart .right_arrow{
    right: -25px;
}

.venice_part .venice_imgPart .left_arrow{
    left: -25px;
}

.venice_part .venice_imgPart .arrow_icon{
    color: #999;
    font-size: 28px;
}

/* .venice_part .slick-slide > div{
    margin: 0 15px;
}

.venice_part .slick-list{
    margin: 0 -15px;
} */